fastapi
uvicorn
sqlalchemy
sqlmodel
pydantic
pydantic-settings
python-dotenv
pyrogram
tgcrypto
asyncpg
greenlet
redis
celery
python-multipart
aiohttp
aiohttp-socks
requests
pysocks
faker
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pyotp
mega.py
rarfile
opentele
openai